.menu-contact{
	height: 118px;
	background-color: #f4f4f4;
}
.contact-box{
	margin: 71px 98px 122px 98px;
	width: 1202px;
	height: 372px;
}
.middle-contact{
	margin-right: 30px;
    	width: 370px;
    	height: 370px;
    	background: #ffffff;
    	border: 1px solid #9c9c9c;
    	text-align: center;
}
.middle-box-contact{
	padding-top: 62px;
   	padding-left: 32px;
    padding-right: 32px;
}
.geo-img{
    text-align: center;
    width: 38px;
    height: 48px;
}
.h1-contact{
	color: #212121;
    	font-size: 22px;
    	font-weight: 700;
    	line-height: 29.88px;
   	padding-top: 19px;
    	padding-bottom: 16px;
    text-transform: uppercase;
}
.h2-contact{
   color: #6c6c6c;
    font-size: 13px;
    font-weight: 700;
    
}
.p-contact{
	color: #212121;
    	font-size: 12px;
    	font-weight: 700;
    	line-height: 21.91px;
    	text-align: center;
      padding-bottom: 10px;
}
.p-contact-no{
    	color: #6c6c6c;
    	font-size: 12px;
    	font-weight: 500;
    	line-height: 21.91px;
    	text-align: center;
}